<h1>Nouveau message dans le formulaire de contact !</h1>

<p>
    Message de {{ data.firstname }} {{ data.lastname }} 
</p>
<div>
    <h2>Informations de contact</h2>
    <p>Numéro de téléphone: {{ data.phone }}</p>
    <p>Adresse email: {{ data.email }}</p>
</div>
<div>
    <p>
        {{ data.description }}
    </p>
</div>